<html>
<head>
    <title>Tweetconomy</title>
    <link href="/main.css" media="screen" rel="Stylesheet" type="text/css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
</head>

<body>

	<div id="content">
	    <div id="header">
	        <div>
	            <h1>Tweetconomy</h1>
	        </div>
	    </div>
	    <div id="body-wrap">
	    	<%= yield %>
	    </div>
	    <div id="footer">
	        <br/>
	        <small>
				API calls remaining: <%= @rate_limit_status['remaining_hits'] %>/<%= @rate_limit_status['hourly_limit'] %> per hour
	        </small>
	    </div>    
	</div>

</body>
</html>