<html>
<head>
    <title>Sinitter - Twitter OAuth Demo Application</title>
    <link href="/main.css" media="screen" rel="Stylesheet" type="text/css" />
</head>

<body>

<div id="content">
    <div id="header">
        <div>
            <h1>Sinitter</h1>
        </div>
        <br clear="all"/>
    </div>
    <%= yield %>
</div>

</body>
</html>