<html>
<head>
    <title>Sinitter - Twitter OAuth Demo Application</title>
    <link href="/main.css" media="screen" rel="Stylesheet" type="text/css" />
</head>

<body>

<div id="content">
    <div id="header">
        <div>
            <h1>Sinitter - Twitter OAuth Demo Application</h1>
        </div>
        <br clear="all"/>
    </div>
    
    <% if @user %>
        <div id="nav" style="float:right">
            <p>
                <a href='/timeline'>Timeline</a> |
                <a href='/messages'>Direct Messages</a> |
                <a href='/disconnect'>Logout</a>
            </p>
        </div>
        <br clear="all"/>
    <% end %>
    
    <%= yield %>
    
    <div id="footer">
        <br/>
        <small>
            API calls remaining: <%= @rate_limit_status['remaining_hits'] %>/<%= @rate_limit_status['hourly_limit'] %> per hour
        </small>
    </div>
    
</div>

</body>
</html>