body {
  font-size:16px; 
  font-family:helvetica;
}

img {
  border:none;
}

h2 {
  font-size:20px;
}

#header h1 {
  margin:0; 
  font-size:24px;
  font-weight: bold;
}

#content {
  margin:0 auto;
  width:850px;
}

#connect_button {
  margin:20 auto;
  width:250px;
  font-size:20px;
  color:red;
}

#body-wrap {
  margin:20px auto; 
  width:700px
}

.score {
	font-size: 38px;
}

.explanation {
  margin: 16px; 
}

#footer {
  margin-top: 60px;
  font-size:10px;
}

.logout {
  margin-top: 20px;
}